// Bootstrap
@use "bootstrap/scss/bootstrap";

// Variables personalizadas
@import "./variables";

// Reset / overrides globales
@import "./reset";

// Utilities propias
@import "./utilities";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  text-align: left;
}